.dateTimeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    height: 68px;
    padding: 2px;
    margin-bottom: 10px;
}
.labelDateTime{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
    width: 100%;
}
.react-datepicker-wrapper{
    width: 100%;
    height: 100%;
}
.react-datepicker__input-container{
    width: 100%;
    height: 100%;
}
.react-datepicker__input-container input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: none
}