#relatorioContainer{
    background-color: grey;
    height: 100%;
    width: 100%;
    padding: 8px;
    overflow-x: hidden
}
.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker__input-container{
    width: 100%;
}
.react-datepicker__input-container input{
    width: 100%;
}