#containerModalEnviarForm{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.726);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerModalIntern{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    border-radius: 6px;
    align-items: center
}
#containerBtnsModalEnviar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.buttonModalFechar{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 7px;
    width: 30%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.buttonModalEnviar{
    background-color: rgb(10, 126, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 7px;
    margin-left: 5px;
    width: 50%;
    border-radius: 3px;
    border: none;
    cursor: pointer
}

