*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
input,
textarea,
button,
select,
a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
html{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}