*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-datetime-edit-clear-button,
input[type="time"]::-webkit-datetime-edit-clear-button{
    display: none !important;
    -webkit-appearance: none;
}
html{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}