#containerLogin{
    background-color: rgb(0, 0, 0);
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
#imgLogin{
    width: 200px;
    margin-bottom: 40px;
}
#loginSubContainer{
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
}
.inputLogin{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    width: 100%;
}
.imgInputUser{
    width: 18px;
    margin-right: 5px;
    margin-left: 4px;
}
.imgInputSenha{
    width: 20px;
    margin-right: 7px;
}
.input{
    background: none;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 0.9rem;
    width: 80%;
}
.input:focus{
    border: none;
    outline: none;
}
#btnLogin{
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.24s linear, box-shadow 0.24s linear;
    font-size: 12px
}
#btnLogin:hover{
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    color: rgb(255, 123, 0)
}

@media(max-width: 900px){
    .input{
        font-size: 16px;
    }
}

@media(max-width: 480px){
    #loginSubContainer{
        width: 80%;
    }
}

@media(max-width: 320px){
    .inputLogin{
        width: 100%;
    }
    #imgLogin{
        width: 65%;
    }
}
